.container-head {
  background-color: whitesmoke;
}
.head-back-image {
  background-image: url(https://www.bing.com/images/blob?bcid=ROvF0TIycF4F.o7ZSs8j014mayfH.....yg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: -8px;
}

.head-header1 {
  padding-top: 0%;
  padding: 25px;
  font-size: 1.1rem;
  line-height: 0.01rem;
  word-spacing: normal;
  text-align: center;
  background-color: 475657;
  color: whitesmoke;
  cursor: pointer;
  margin: -5px;
}
.head-header-2 {
  font-size: 1.1rem;
  line-height: 0.01rem;
  word-spacing: normal;
  text-align: center;
  background-color: 475657;
  color: whitesmoke;
  cursor: pointer;
}
.nav-head {
  display: flex;
  justify-content: space-between;
}

.head-BTN1 {
  font-weight: 600;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: maroon;
  background-color: transparent;
  cursor: pointer;
}
.head-BTN2 {
  font-weight: 600;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: maroon;
  background-color: transparent;
  cursor: pointer;
}
.head-BTN3 {
  font-weight: 600;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: maroon;
  background-color: transparent;
  cursor: pointer;
}
.head-BTN4 {
  margin: 10px;
  padding: 8px;
  padding-inline: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  border-color: transparent;
  border-radius: 10px;
  background-color: maroon;
  cursor: pointer;
  flex-grow: initial;
}
.head-main2-h1 {
  justify-content: left;
  justify-self: right;
  padding: px;
  font-size: 45px;
  font-weight: 400;
  word-spacing: 10px;
  color: maroon;
}
.head-main2-order-btn {
  cursor: pointer;
  padding: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: maroon;
  border: none;
  border-radius: 15px;
}
.head-main {
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.head-main2 {
  padding-top: 100px;
}
.mid1-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.mid1-sub-container1 {
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c9654c;
}
.mid1-sub-container2 {
  text-align: center;
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c9654c;
}
.mid1-sub-container1and2-p {
  font-size: 22px;
  line-height: 35px;
}
.mid1-sub-container1and2-h1 {
  font-weight: 500;
  font-style: normal;
  font-family: "Abril Fatface", serif;
  font-size: 38px;
}
.mid1-sub-container1and2-button {
  padding: 10px;
  font-size: 18px;
  background-color: #fc9076;
  color: white;
  font-weight: bold;
  border: #fc9076;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.mid2-container {
  text-align: center;
  color: #791d06;
  font-family: "Source Serif Pro";
  background-color: rgb(255, 242, 224);
  margin: -5px;
  padding: 20px;
}
.mid2-container-h1 {
  font-weight: 500;
}
.mid2-sub-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-left: 50px;
  text-align: left;
}
.mid2-sub-container2 {
  padding-left: 20px;
}
.mid2-sub-container3 {
  padding-left: 70px;
}
.mid2-sub-container123-h1 {
  color: #791d06;
  font-weight: 200;
  font-size: 25px;
  padding-left: 20px;
}
.mid2-sub-container123-ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 25px;
  word-spacing: 4px;
}

.sub-container1 {
  display: flex;
  background-color: rgb(255, 242, 224);
  padding-inline-end: 50px;
}
.heading1 {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  color: rgb(128, 12, 12);
}
.heading2 {
  color: brown;
  font-weight: 200;
  font-size: 28px;
}
button {
  color: black;
  font-size: 18px;
  background-color: #fc9076;
  color: white;
  font-weight: bold;
  border: #fc9076;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.para1 {
  font-size: 21px;
  color: brown;
  line-height: 25px;
  margin: 20px;
}
.item1 {
  text-align: center;
  margin-bottom: 50px;
  padding: 29px;
}
.item2 {
  margin-bottom: 20px;
  padding: 25px;
}
.sub-container2 {
  display: flex;
  padding: 20px;
  justify-content: center;
}
#outside-the-container-heading1 {
  text-align: center;
  color: rgb(141, 33, 33);
  font-weight: 200;
}
#trustpilot {
  padding: 10px;
  margin: 100px;
  width: 250px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#bbc {
  padding: 10px;
  margin: 100px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#lady {
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.foot-container {
  margin: -5px;
  padding: 50px;
  background-color: rgb(252, 236, 216);
}
.foot {
  background-color: rgb(252, 236, 216);
  color: rgb(155, 8, 8);
  display: flex;
  padding: 50px;
  justify-content: center;
}
.footer-heading {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}
.footer-line {
  font-family: Arial, Helvetica, sans-serif;
}
b {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: ease-in-out;
}
.footer2 {
  padding-left: 250px;
}
.foot2 {
  display: flex;
  background-color: rgb(252, 236, 216);
  color: rgb(155, 8, 8);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  justify-content: center;
}
.foot2-item1 {
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
}
.foot2-item2 {
  padding-left: 70px;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
}
.foot2-item3 {
  padding-left: 70px;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
}
.foot2-item4 {
  padding-left: 70px;
  line-height: 40px;
  font-weight: 600;
}
input {
  border: 2px solid rgb(155, 8, 8);
  border-width: 4px;
  border-radius: 50px;
  font-size: 25px;
  background-color: rgb(252, 236, 216);
  color: rgb(155, 8, 8);
}
label {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
ul {
  cursor: pointer;
}
.the-end {
  display: flex;
  padding: 40px;
  justify-content: center;
}
.the-end-image {
  background-color: rgb(252, 236, 216);
}
.policy-line {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(141, 33, 33);
  font-size: 18px;
}
.policy-line {
  padding-top: 50px;
  margin-right: 80px;
}
.the-end-image1 {
  padding-bottom: 40px;
  margin: 50px;
}
.the-end-image2 {
  padding-left: 40px;
}
